@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --theme-text-color: #1D70B7;
    --regular-text-color: #424242;
}

.link-text {
    text-transform: uppercase;
    color: var(--theme-text-color);
    font-weight: 600;
    cursor: pointer;
}

.link-text:hover {
    text-decoration: underline;
}

html, body {
    font-family: 'Open Sans', sans-serif;
    color: var(--regular-text-color);
}