.container {
    position: relative;
}

.stats {
    position: absolute;
    top: 35px;
    left: 50%;
    transform: translate(-50%, 0);
}

.number {
    font-size: 70px;
    font-weight: 600;
    color: var(--theme-text-color);
}

.unit {
    font-size: 30px;
    color: var(--regular-text-color);
}